.u-block-16a8-5 {
  position: absolute;
  left: auto;
  top: auto;
  right: calc(((100% - 1140px) / 2)  + 511px);
  bottom: 62px;
}

.u-block-16a8-3 {
  position: absolute;
  left: 0;
}

.u-block-16a8-4 {
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-block-16a8-5 {
    right: calc(((100% - 940px) / 2)  + 411px);
  }
}

@media (max-width: 991px) {
  .u-block-16a8-5 {
    right: calc(((100% - 720px) / 2)  + 301px);
  }
}

@media (max-width: 767px) {
  .u-block-16a8-5 {
    right: calc(((100% - 540px) / 2)  + 211px);
  }
}

@media (max-width: 575px) {
  .u-block-16a8-5 {
    right: calc(((100% - 340px) / 2)  + 111px);
  }
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('images/nightworld.jpg');
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 679px;
}

.u-section-1-1 .u-image-1 {
  width: 538px;
  height: 64px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 23px auto 0;
}

.u-section-1-1 .u-text-1 {
  margin: 56px 523px 0 502px;
}

.u-section-1-1 .u-text-2 {
  font-size: 2.25rem;
  margin: 54px auto 0 456px;
}

.u-section-1-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 10px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-1-1 .u-image-1 {
    margin-top: -54px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 423px;
    margin-left: 402px;
  }

  .u-section-1-1 .u-text-2 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 25px;
    margin-left: 376px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-top: 34px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 313px;
    margin-left: 292px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 288px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 322px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 223px;
    margin-left: 202px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 216px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-1-1 .u-image-1 {
    width: 340px;
    height: 40px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 123px;
    margin-left: 102px;
  }

  .u-section-1-1 .u-text-2 {
    margin-top: 49px;
    margin-left: 136px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-top: -17px;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('images/phone.jpg');
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 664px;
}

.u-section-1-2 .u-text-1 {
  font-size: 6rem;
  font-weight: normal;
  margin: 75px auto 0;
}

.u-section-1-2 .u-text-2 {
  font-size: 2.25rem;
  margin: 119px auto 0;
}

.u-section-1-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 155px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-1-2 .u-text-1 {
    width: auto;
    margin-top: 35px;
    font-size: 4.5rem;
  }

  .u-section-1-2 .u-text-2 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 111px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-top: 111px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 429px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 322px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 6rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1-2 .u-text-2 {
    margin-top: 123px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-top: 80px;
  }
}

 .u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('images/cybersecurity4.jpg');
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 664px;
}

.u-section-1-3 .u-text-1 {
  font-size: 6rem;
  font-weight: normal;
  margin: 76px auto 0;
}

.u-section-1-3 .u-text-2 {
  font-size: 2.25rem;
  margin: 119px auto 0;
}

.u-section-1-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 155px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-1-3 .u-text-1 {
    width: auto;
    margin-top: 34px;
    font-size: 4.5rem;
  }

  .u-section-1-3 .u-text-2 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 123px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-1-3 .u-btn-1 {
    margin-top: 123px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-1-3 .u-text-2 {
    margin-left: 56px;
    margin-right: 56px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 322px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 6rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1-3 .u-text-2 {
    width: 228px;
    margin-top: 124px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1-3 .u-btn-1 {
    margin-top: 80px;
    padding: 13px 30px;
  }
} .u-section-2 {
  background-image: url("images/WORLDVECTOR.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 814px;
}

.u-section-2 .u-shape-1 {
  width: 855px;
  height: 575px;
  margin: 60px auto 0 0;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 609px;
  object-position: 50% 50%;
  margin: -503px 0 0 auto;
}

.u-section-2 .u-group-1 {
  width: 518px;
  min-height: 456px;
  margin: -609px auto 213px 36px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 50px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 28px 0 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  background-image: none;
  border-style: solid;
  font-size: 0.875rem;
  margin: 38px auto 0 0;
  padding: 11px 38px 12px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-2 .u-shape-1 {
    width: 795px;
    height: 557px;
    margin-top: 0;
  }

  .u-section-2 .u-image-1 {
    width: 448px;
    height: 575px;
    margin-top: -485px;
  }

  .u-section-2 .u-group-1 {
    width: 434px;
    margin-top: -574px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 15px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 14px;
    margin-left: 146px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1185px;
  }

  .u-section-2 .u-shape-1 {
    height: 624px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: -146px;
    margin-right: 66px;
  }

  .u-section-2 .u-group-1 {
    width: 560px;
    min-height: 407px;
    margin-top: -1004px;
    margin-bottom: 657px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1212px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -118px;
    margin-right: auto;
  }

  .u-section-2 .u-group-1 {
    width: 489px;
    min-height: 429px;
    margin-top: -1032px;
    margin-bottom: 663px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 155px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 876px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    width: 244px;
    height: 309px;
    margin-top: -154px;
  }

  .u-section-2 .u-group-1 {
    width: 304px;
    min-height: 508px;
    margin-top: -723px;
    margin-left: auto;
    margin-bottom: 60px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.8rem;
    margin-left: auto;
  }
} .u-section-3 {
  background-image: url("images/29975374-02.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 730px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  margin: 79px 96px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 600;
  font-style: normal;
  width: 680px;
  margin: 25px auto 0;
}

.u-section-3 .u-list-1 {
  margin: 48px 0 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 347px;
  --gap: 20px;
  grid-auto-columns: calc(33.3333% - 13.3333px);
}

.u-section-3 .u-image-1 {
  background-image: url("images/nightworld.jpg");
}

.u-section-3 .u-container-layout-1 {
  padding: 21px 13px;
}

.u-section-3 .u-text-3 {
  font-style: normal;
  margin: 0;
}

.u-section-3 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
  margin: 147px auto 0;
  padding: 3px 33px;
}

.u-section-3 .u-image-2 {
  background-image: url("images/phone.jpg");
}

.u-section-3 .u-container-layout-2 {
  padding: 21px 13px;
}

.u-section-3 .u-text-4 {
  font-style: normal;
  margin: 0;
}

.u-section-3 .u-btn-2 {
  --radius: 6px;
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
  margin: 147px auto 0;
  padding: 3px 33px;
}

.u-section-3 .u-image-3 {
  background-image: url("images/cybersecurity4.jpg");
}

.u-section-3 .u-container-layout-3 {
  padding: 21px 13px;
}

.u-section-3 .u-text-5 {
  font-style: normal;
  margin: 0;
}

.u-section-3 .u-btn-3 {
  --radius: 6px;
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
  margin: 147px auto 0;
  padding: 3px 33px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 21px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 40px;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 342px;
    grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
    grid-gap: 20px 20px;
    grid-auto-columns: calc(33.333333333333336% - 13.3333px);
  }

  .u-section-3 .u-image-1 {
    margin-top: 0;
    margin-bottom: 0;
    background-position: 50% 50%;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    margin-top: 0;
    margin-bottom: 0;
    background-position: 50% 50%;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 21px;
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    margin-top: 0;
    margin-bottom: 0;
    background-position: 50% 50%;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 21px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 818px;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-auto-columns: calc(50% - 9.999975px);
  }

  .u-section-3 .u-text-3 {
    margin-left: 74px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 0;
    margin-left: 74px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-container-layout-1 {
    padding: 20px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 114px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 20px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 94px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-text-3 {
    margin-left: auto;
  }

  .u-section-3 .u-text-5 {
    margin-left: auto;
  }
} .u-section-4 {
  background-image: url("images/businessspace.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 642px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  margin: 20px 0 60px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-4 .u-image-1 {
  min-height: 200px;
  background-image: url("images/unifi.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  min-height: 200px;
  background-image: url("images/images1.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  min-height: 200px;
  background-image: url("images/honeywell.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  min-height: 200px;
  background-image: url("images/omada_as_logo.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-5 {
  min-height: 200px;
  background-image: url("images/grandstream_logo_1.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-image-6 {
  min-height: 210px;
  background-image: url("images/fliplok.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-4 .u-text-1 {
    width: 322px;
    font-size: 3.75rem;
    margin: 70px auto 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 75px;
  }

  .u-section-4 .u-image-6 {
    min-height: 200px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-4 .u-image-1 {
    min-height: 153px;
  }

  .u-section-4 .u-image-2 {
    min-height: 153px;
  }

  .u-section-4 .u-image-3 {
    min-height: 153px;
  }

  .u-section-4 .u-image-4 {
    min-height: 153px;
  }

  .u-section-4 .u-image-5 {
    min-height: 153px;
  }

  .u-section-4 .u-image-6 {
    min-height: 153px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1265px;
  }

  .u-section-4 .u-image-1 {
    min-height: 344px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 344px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 344px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    min-height: 344px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-5 {
    min-height: 344px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-6 {
    min-height: 344px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 44px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 88px;
  }

  .u-section-4 .u-image-1 {
    min-height: 217px;
  }

  .u-section-4 .u-image-2 {
    min-height: 217px;
  }

  .u-section-4 .u-image-3 {
    min-height: 217px;
  }

  .u-section-4 .u-image-4 {
    min-height: 217px;
  }

  .u-section-4 .u-image-5 {
    min-height: 217px;
  }

  .u-section-4 .u-image-6 {
    min-height: 217px;
  }
} .u-section-5 {
  background-image: url("images/worldflat.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 343px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 223px;
  background-image: linear-gradient(rgba(255,255,255,0.44), #333333);
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  width: 84px;
  height: 84px;
  background-image: none;
  margin: 10px auto 0;
  padding: 20px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 223px;
  background-image: linear-gradient(rgba(255,255,255,0.44), #333333);
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 10px;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 223px;
  background-image: linear-gradient(rgba(255,255,255,0.44), #333333);
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 10px auto 0;
  padding: 15px 54px 16px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 267px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 21px;
    margin-bottom: 21px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 184px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 170px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.375rem;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 226px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 141px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 0;
    padding-left: 168px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -167px;
    margin-bottom: -167px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 108px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 68px;
  }
} .u-section-6 {
  background-image: url("images/network-connections.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 799px;
}

.u-section-6 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 600;
  width: 680px;
  margin: 20px auto 0;
}

.u-section-6 .u-list-1 {
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 452px;
  --gap: 20px;
  grid-auto-columns: calc(33.3333% - 13.3333px);
}

.u-section-6 .u-container-layout-1 {
  padding: 0 19px 30px;
}

.u-section-6 .u-group-1 {
  min-height: 292px;
  background-image: none;
  margin: 20px 1px 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

.u-section-6 .u-icon-1 {
  width: 54px;
  background-image: none;
  height: 54px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-6 .u-text-3 {
  margin-bottom: 0;
  margin-top: 40px;
}

.u-section-6 .u-image-1 {
  width: 70px;
  height: 70px;
  background-image: url("images/44d5d282-18f7-4295-9493-b2865af9bf3d.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0 1px;
}

.u-section-6 .u-text-4 {
  font-weight: 400;
  background-image: none;
  margin: -46px 0 0 92px;
}

.u-section-6 .u-container-layout-3 {
  padding: 0 19px 30px;
}

.u-section-6 .u-group-2 {
  min-height: 292px;
  background-image: none;
  margin: 20px 1px 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 20px;
}

.u-section-6 .u-icon-2 {
  width: 54px;
  background-image: none;
  height: 54px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-6 .u-text-5 {
  margin-bottom: 0;
  margin-top: 40px;
}

.u-section-6 .u-image-2 {
  width: 70px;
  height: 70px;
  background-image: url("images/44720b5f-d674-4089-b6ec-12c44ea13947.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0 1px;
}

.u-section-6 .u-text-6 {
  font-weight: 400;
  background-image: none;
  margin: -46px 0 0 92px;
}

.u-section-6 .u-container-layout-5 {
  padding: 0 19px 30px;
}

.u-section-6 .u-group-3 {
  min-height: 292px;
  background-image: none;
  margin: 20px 1px 0;
}

.u-section-6 .u-container-layout-6 {
  padding: 20px;
}

.u-section-6 .u-icon-3 {
  width: 54px;
  background-image: none;
  height: 54px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-6 .u-text-7 {
  margin-bottom: 0;
  margin-top: 40px;
}

.u-section-6 .u-image-3 {
  width: 70px;
  height: 70px;
  background-image: url("images/dgrt-min.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0 1px;
}

.u-section-6 .u-text-8 {
  font-weight: 400;
  background-image: none;
  margin: -46px 0 0 92px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: 20px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 372px;
    grid-gap: 20px;
    grid-auto-columns: calc(33.333333333333336% - 13.3333px);
  }

  .u-section-6 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 90px;
  }

  .u-section-6 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 90px;
  }

  .u-section-6 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    margin-left: 0;
  }

  .u-section-6 .u-text-8 {
    margin-left: 90px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 855px;
    grid-auto-columns: calc(50% - 9.999975px);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1634px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1255px;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-group-1 {
    min-height: 244px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    margin-top: 21px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-group-2 {
    min-height: 244px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    margin-top: 21px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
  }

  .u-section-6 .u-container-layout-5 {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-group-3 {
    min-height: 244px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    margin-top: 21px;
  }

  .u-section-6 .u-text-8 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1573px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 61px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-7 {
  background-image: url("images/29975374-01.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 1087px;
}

.u-section-7 .u-list-1 {
  width: 793px;
  margin: 123px auto 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 14px));
  min-height: 292px;
  grid-auto-columns: calc(33.3333% - 14px);
  --gap: 21px;
}

.u-section-7 .u-list-item-1 {
  background-image: linear-gradient(rgba(255,255,255,0.44), #808080);
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.375rem;
  margin: 20px 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1rem;
  margin: 19px 0 0;
}

.u-section-7 .u-list-item-2 {
  background-image: linear-gradient(rgba(255,255,255,0.44), #808080);
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-7 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.375rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-7 .u-text-4 {
  font-size: 1rem;
  margin: 19px 0 0;
}

.u-section-7 .u-list-item-3 {
  background-image: linear-gradient(rgba(255,255,255,0.44), #808080);
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-7 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.375rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-7 .u-text-6 {
  font-size: 1rem;
  margin: 19px 0 0;
}

.u-section-7 .u-btn-1 {
  font-weight: 700;
  padding: 0;
}

.u-section-7 .u-list-item-4 {
  background-image: linear-gradient(rgba(255,255,255,0.44), #808080);
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-7 .u-text-7 {
  text-transform: uppercase;
  font-size: 1.375rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-7 .u-text-8 {
  font-size: 1rem;
  margin: 19px 0 0;
}

.u-section-7 .u-btn-2 {
  font-weight: 700;
  padding: 0;
}

.u-section-7 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-text-9 {
  font-size: 1rem;
  margin: 327px 0 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 65px;
  margin-bottom: -365px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 568px;
}

.u-section-7 .u-container-layout-5 {
  padding: 0;
}

.u-section-7 .u-text-10 {
  margin: 30px auto 0 30px;
}

.u-section-7 .u-text-11 {
  font-weight: 700;
  line-height: 1.8;
  font-style: italic;
  font-size: 1.125rem;
  margin: 20px 30px 0;
}

.u-section-7 .u-text-12 {
  line-height: 2;
  font-size: 1rem;
  margin: 20px 30px 0;
}

.u-section-7 .u-social-icons-1 {
  white-space: nowrap;
  height: 41px;
  min-height: 16px;
  width: 284px;
  min-width: 124px;
  margin: 39px auto 0 30px;
}

.u-section-7 .u-icon-5 {
  height: 100%;
}

.u-section-7 .u-icon-6 {
  height: 100%;
}

.u-section-7 .u-icon-7 {
  height: 100%;
}

.u-section-7 .u-icon-8 {
  height: 100%;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 568px;
}

.u-section-7 .u-container-layout-6 {
  padding: 26px;
}

.u-section-7 .u-form-1 {
  height: 391px;
  margin: 0 0 0 9px;
}

.u-section-7 .u-label-1 {
  font-weight: 700;
}

.u-section-7 .u-label-2 {
  font-weight: 700;
}

.u-section-7 .u-label-3 {
  font-weight: 700;
}

.u-section-7 .u-btn-3 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-7 .u-list-1 {
    margin-top: 23px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 14px) calc(33.3333% - 14px) calc(33.3333% - 14px);
    grid-gap: 21px 21px;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-btn-1 {
    border-style: none none solid;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-btn-2 {
    border-style: none none solid;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: -73px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 468px;
  }

  .u-section-7 .u-text-11 {
    margin-right: 0;
  }

  .u-section-7 .u-text-12 {
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 468px;
  }

  .u-section-7 .u-form-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-7 .u-list-1 {
    width: 720px;
    margin-top: 6px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10.5px));
    grid-auto-columns: calc(50% - 10.5px);
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 186px;
    margin-bottom: -577px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-7 .u-list-1 {
    width: 540px;
    margin-top: 305px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -113px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1283px;
  }

  .u-section-7 .u-list-1 {
    width: 1149px;
    margin-top: 28px;
    margin-right: -809px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
    min-height: 309px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 88px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-icon-2 {
    margin-top: 88px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: 0;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-icon-3 {
    margin-top: 88px;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-top: 0;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-icon-4 {
    margin-top: 88px;
  }

  .u-section-7 .u-text-8 {
    width: auto;
    margin-top: 0;
  }

  .u-section-7 .u-text-9 {
    font-size: 1.5rem;
    width: 211px;
    margin-top: 59px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 233px;
    margin-bottom: 6px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 255px;
  }

  .u-section-7 .u-text-10 {
    margin-top: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 431px;
  }
}